<div class="wrapper">
  <%= partial :side_nav_bar %>
  <div class="content">
    <div id="title">Contact</div>
    <address>
      <strong>Sri Guru Singh Sabha Gurdwara,</strong><br>
      Princes Street<br>
      Derby<br>
      DE23 8NT<br>
      United Kingdom<br>
      <abbr title="Phone">P:</abbr> 01332 773010<br>
      <abbr title="Email">E:</abbr> info@sgssderby.co.uk<br>
      <abbr title="Web">W:</abbr> www.sgssderby.co.uk<br>
    </address>
  </div>
</div>