<%= partial :side_nav_bar %>

<div id="title">Contact</div>
<div id="post-address">Sri Guru Singh Sabha Gurdwara,<br>
Princes Street<br>
Derby<br>
DE23 8NT<br>
United Kingdom</div>

<div id="web-address">Website: www.sgssderby.co.uk</div>
<div id="email-address">Email: info@sgssderby.co.uk</div>
<div id="telephone">Telephone: 01332 773010</div>