<header><h2>Etiquette</h2></header>
<div>
  <p>Firstly, welcome to Sri Guru Singh Sabha Gurdwara. Firstly tell me what type of event you are attending...</p>
  <div class="btn-group-vertical">
    <a href="/etiquette-general" class="btn btn-warning btn-lg">General Etiquette</a>
    <a href="/etiquette-wedding" class="btn btn-warning btn-lg">Anand Kaaraj (Wedding)</a>
    <!-- <a href="/etiquette-prayer" class="btn btn-warning btn-lg">Paat (Prayer Reading)</a>
    <a href="/etiquette-sanskaar" class="btn btn-warning btn-lg">Anand Sanskaar (Funeral)</a>
    <a href="/etiquette-langar" class="btn btn-warning btn-lg">Langar Program</a> -->
  </div>
</div>