<%= partial :side_nav_bar %>
<div id="events-container">
  <div id="title">Events</div>
  <template id="events-item">
    <div class="title">{{ title }}</div>
    <div class="date">{{ day }} {{ date }} {{ month }} {{ year }}</div>
    <div class="report">{{{ event-details }}}</div>
  </template>
</div>