<header><h2>Events</h2></header>
<template id="events-item">
  <h4>{{ title }}</h4>
  <div class="release-date">
    <span class="day">{{ day }}</span>
    <span class="date">{{ date }}</span>
    <span class="month">{{ month }}</span>
    <span class="year">{{ year }}</span>
  </div>
  <div class="report">{{{ event-details }}}</div>
  <br clear="all">
</template>