<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p>to the Sri Guru Singh Sabha Gurdwara, Derby Kiosk. Click one of the links below to get started.</p>
    <a class="btn btn-primary btn-lg" role="button" href="/getstarted">Get Started...</a>
  </div>
</div>