<div class="jumbotron">
  <div class="container">
    <h2>Welcome</h2>
    <p>to the Sri Guru Singh Sabha Gurdwara, Derby Kiosk. Click the link below to get started.</p>
    <a class="btn btn-primary btn-lg" role="button" href="/getstarted">Get Started...</a>
  </div>
</div>