<header><h2>National Sikh Heritage Centre<br>& Holocaust Museum</h2></header>
<img class="imgleft" src="images/canon1.png" />
<p>The National Sikh Heritage Centre & Holocaust Museum (NSHCHM) has been in the works for over three decades. It is the culmination of work by volunteers across the country, especially those from the Midlands. It has been developed to showcase the rich history of the Sikhs. There are countless artifacts from pre-British rule and it also holds information about the Sikh contribution to the British Armed Forces.</p>
<img class="imgright" src="images/canon2.png" />
<p>It is very unique and the result of extreme hard work and perseverance and well worth a visit. However, the museum is ever-changing, constantly aiming to improve, therefore, if you have any suggestions or feel that some part of the Sikh History has not been included, please contact one of the volunteers in order for them to address your concerns.</p>
<br clear="all">
<h4>Opening Times</h4>
<span class="col-md-6">Weekday Mornings</span> <span class="col-md-6">10:00 to 12:00</span>
<span class="col-md-6">Weekday Evenings</span> <span class="col-md-6">18:00 to 20:00</span>
<span class="col-md-6">Weekends</span> <span class="col-md-6">11:00 to 14:00</span>
<small>If you wish to visit outside of these times, please do not hesitate to contact one of the volunteers or one of the Gurdwara staff.</small>