<div id="news-container">
  <div id="title">News</div>
  <template id="news-item">
    <div class="title">{{ title }}</div>
    <div class="date">{{ date }}</div>
    <div class="report">{{ report }}</div>
  </template>
</div>