<div id="news-container">
  <div id="title">News</div>
  <div id="all-news"></div>
  <template id="news-item">
    <div class="title">{{ title }}</div>
    <div class="date">{{ day }} {{ date }} {{ month }} {{ year }}</div>
    <div class="report">{{{ report }}}</div>
  </template>
</div>