<header><h2>Daily & Weekly Program</h2></header>
<div class="monFriAM col-md-12"><h4>Morning (Mon-Fri)</h4></div><br>
<div class="monFriPM col-md-12"><h4>Evening (Mon-Fri)</h4></div><br>
<div class="weds col-md-12"><h4>Wednesday</h4></div><br>
<div class="fri col-md-12"><h4>Friday</h4></div><br>
<div class="sat col-md-12"><h4>Saturday</h4></div><br>
<div class="sun col-md-12"><h4>Sunday</h4></div><br>
<template class="daily-item">
  <div class="prog col-md-8">{{ prog }}</div>
  <div class="time col-md-4">{{ time }}</div>
</template>