<div class="nav-bar">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="/program" class="btn btn-primary btn-lg">Program</a></li>
    <li><a href="/news" class="btn btn-primary btn-lg">News</a></li>
    <li><a href="/etiquette" class="btn btn-primary btn-lg">Etiquette</a></li>
    <li><a href="/events" class="btn btn-primary btn-lg">Events</a></li>
    <li><a href="/contact" class="btn btn-primary btn-lg">Contact</a></li>
    <!-- <li><a href="/supersant" class="btn btn-primary btn-lg">Supersant</a></li> -->
    <li><a href="/" class="btn btn-primary btn-lg">Exit</a></li>
  </ul>
</div>