body{
  background-image: url(../images/bkgrnd.png);
  background-attachment: fixed;
  background-repeat: no-repeat; 
}

.jumbotron{
  margin-bottom: 0;
  background-color: transparent;
}

.jumbotron div{
  height: 672px;
}

.wrapper{
  width: 700px;
  margin: 100px auto;
}

.nav-bar{
  float: left;
  width: 200px;
  position:fixed;
}

.content{
  float: right;
  width: 400px;
  margin-bottom: 50px;
  background-color: hsla(100, 100%, 100%, 0.8);
  back
}

header{
  position: fixed;
  margin-top: -100px;
  background-color: white;
  z-index: 100;
  height: 100px;
  vertical-align: bottom;
  padding-top: 25px;
  width: 100%;
}

.release-date{
  text-align: center;
  width: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
}

.day, .date, .month, .year{
  font-weight: bold;
  text-align: center;
  width: 40px;
}

.btn-group-vertical{
  padding-left: 78px;
  padding-right: 79px;
}

.day{
  font-size: 16px;
}

.date{
  font-size: 30px;
  line-height: 20px;
}

.month{
  line-height: 10px;
}

.year{
  line-height: 6px;
}

.report{
  display: inline !important;
}