<header><h2>Etiquette</h2></header>
<div>
  <h4>General Etiquette</h4>
  <p>Whilst on the Gurdwara premises you are not allowed to be under the influence of drugs or alcohol or have them on your possession. Non-vegetarian products are also prohibited from the Gurdwara and its premises.</p>
  <p>When you enter the Gurdwara, you must ensure that you keep your head covered, either using your own scarf/bandana or one provided at the Gurdwara. Hats are not acceptable. Please ensure that you wear appropriate attire, i.e. no short skirts or inappropriately revealing attire.</p>
  <p>Everyone must be considerate of others when speaking, politeness and clean language must always be observed.</p>
</div>