<header><h2>Etiquette</h2></header>
<div>
  <h4>Anand Kaaraj (Wedding)</h4>
  <p>Congratulations on the wedding, we wish the bride &amp; groom, friends &amp; family well on this auspicious day. The day of Anand Kaaraj is very important in the Sikh faith. It is symbolic of two souls joining to continue the path to Waheguru (God). The relationship continues until death, however, Sikhs understand some relationships can become irreconcilable.</p>
  <p>Strictly, the Anand Kaaraj, is a relatively short ceremony, however, sometimes it is joined with other ceremonies, so we will list a typical wedding day.</p>
  <hr>
  <div class="row">
    <span class="col-md-3">Arrival of Groom</span>
    <span class="col-md-9">The Groom arrives at the Gurdwara, this is usually stated on the card as typically grooms visit the Gurdwara in the Bride's hometown.</span>
  </div>
  <hr>
  <div class="row">
    <span class="col-md-3">Milni & Tea</span>
    <span class="col-md-9">After arrival, the two families perform a Milni, translated to meeting. It is seen as two families meeting each other for the first time, however this usually is not the case. This is usually followed by Tea to feed the guests before the Anand Kaaraj. Tea, typically consists of Samosas, Pakoras and Panjabi Sweets such as Gulaab Jamun.</span>
  </div>
  <hr>
  <div class="row">
    <span class="col-md-3">Anand Kaaraj</span>
    <span class="col-md-9">The Anand Kaaraj is the only part of the Sikh wedding that is compulsory. The Bride and Groom are sat infront of the Sikhs' Guru, Guru Granth Sahib Ji, from which are recited the Chaar Laavan, or Four Vows. After each vow, the couple stand and walk clockwise around Guru Granth Sahib Ji whilst the vow is sung by the religious musicians.</span>
  </div>
  <hr>
  <div class="row">
    <span class="col-md-3">Ardas & Hukhamnama</span>
    <span class="col-md-9">After the Laavan, the whole sangat, or congregation, stand, and listen to Ardas, a special prayer where as a whole body, we pray for the couple's success in their endeavour. After sitting, the Hukhamnama is read, which is an order from the Sikhs' Guru, which MUST be followed by the couple. It is important to note that a Hukhamnama can be read at any time.</span>
  </div>
  <hr>
  <div class="row">
    <span class="col-md-3">Langar</span>
    <span class="col-md-9">The Gurdwara houses a free kitchen where everybody, regardless of Caste, Colour, Creed or Religion, is free to eat the fresh cooking. This is commonly substituted for an alternative by the family, however, it is best practice to remain within the religious context.</span>
  </div>
  <hr>
  <div class="row">
    <span class="col-md-3">Doli</span>
    <span class="col-md-9">This is when close family &amp; friends attend either the Bride's home or sometimes carried out at the Gurdwara and bid farewell to the bride before she departs to her husband's, and now, her home/hometown.</span>
  </div>
  <hr>
</div>